body {
    overflow: hidden;
    background-color: #ff8b16ff;
    color: #595959;
}

#login-card {
    display: flex;
    justify-content: center;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 5vh;
    left: 50%;
    margin-left: -30vw;
    box-sizing: border-box;
    background-color: white;
}

#login-card h1 {
    font-family: Lexend, monospace;
    font-weight: bolder;
}

#login-card h2 {
    font-family: Lexend, monospace;
    font-weight: normal;
}