.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* bru */
.hidden-text {
    color: #595959;
    font-size: 1.9rem;
    box-shadow: none;
    outline: none;
    border: none;
    width: 100%;
}

hr {
    width: 30%;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    color: #595959;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 270%;
    line-height: 1rem;
    color: #ff8b16ff;
}

h2 {
    font-weight: 400;
    font-size: 220%;
    line-height: 1.3rem;
}

h3 {
    font-weight: 400;
    font-size: 140%;
    line-height: 1.1rem;
}

#business-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: 1;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

#search-container {
    flex: 1;
    padding: 0;
    min-height: 6rem;
    max-height: 6rem;
    display: flex;
    justify-content: center;
}

#search-bar-bar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
#search-bar {
    box-sizing: border-box;
    position: fixed;
    /* margin-top: 2rem;
    margin-bottom: 0; */
    border-radius: 2rem;
    background-color: white;
    width: 60%;
    height: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 2rem;
    left: 50%;
    margin-left: -30%;
    box-shadow: -3px 8px 0px #3030304e;
    transition-duration: 0.2s;
}
#search-bar-content {
    display: none;
    max-height: 60vh;
    overflow-y: auto;
}
#search-bar:focus-within {
    top: 1.5rem;
    height: fit-content;
    width: 66%;
    margin-left: -33%;
}
#search-bar:focus-within > #search-bar-content {
    display:block;
}

#search-bar-content > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
}

.busicard {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    background-color: white;
    border-radius: 2rem;
    height: calc(100% - 4rem);
    min-width: 60rem;
    min-height: 30rem;
    flex: 2;
    margin-left: 2.0rem;
    margin-right: 1.0rem;
    box-shadow: -3px 8px 0px #3030304e;
}

.busitime {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    background-color: white;
    border-radius: 2rem;
    height: calc(100% - 4rem);
    min-width: 12rem;
    min-height: 30rem;
    flex: 2;
    margin: 1.0rem;
    box-shadow: -3px 8px 0px #3030304e;
}

.card h2 {
    line-height: 2rem;
    margin: 0;
}

.card-header {
    margin: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    column-gap: 1rem;
}

.business-rating-container {
    overflow-y: auto;
}

.business-rating-container hr {
    margin-left: 2rem;
}

.business-rating {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.business-rating > div {

}

.card-subheader {
    margin: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    column-gap: 1rem;
}

.business-image {
    max-width: 15%;
    margin-right: 1rem;
}

.business-main {
    flex: 1 1 auto;
}

.business-main p {
    margin-left: 3rem;
}

.flex-image-container {
    aspect-ratio: 1 / 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-image {
    width: 100%;
    height: auto;
}

.time-bar-container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

.time-bar {
    display: table;
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

td.on {
    background-color: #ff8b16ff;
}

td.off {
    background-color: #ccccccff;
}

.rating-num {
    text-align: left;
    font-weight: 600;
    font-size: 300%;
    line-height: 1rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    color: #ff8b16ff;
}

.rating-description {
    margin-left: 2rem;
}